.switchBtns {
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  background: transparent;

  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: vaR(--card-box-shadow);

  color: var(--primary-color);

  & :hover {
    color: var(--bright-red-color);
  }

  svg {
    font-size: 1.5rem;
  }

  &.active {
    color: var(--bright-red-color);
    transition: all 300ms ease-in-out;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
}

.solutionSwitchBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  width: 100px;

  button {
    border: 1px solid var(--white-color);
    box-shadow: vaR(--btn-box-shadow);
    color: var(--white-color);
  }
}

$layout-997-max-width: 997px;
$layout-797-min-wdith: 797px;

$layout-breakpoint-max-width: 667px;

@media only screen and (max-width: $layout-997-max-width) and (min-width: $layout-797-min-wdith) {
  .solutionSwitchBtnContainer {
    display: none !important;
  }
}

@media (max-width: $layout-breakpoint-max-width) {
  .solutionSwitchBtnContainer {
    display: none !important;
  }
}
