@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap");

$primary-font: "Signika", sans-serif;
$primary-color: #121220;
$primary-color-border: #121220;
$dark-cyan-color: #0b95ab;
$dark-cyan-hover-color: #0cacc5;
$bright-red-color: #f55945;
$description-color: #8290b0;
$hr-color: #e5ecfdf1;
$green: #1de46d;
$red: #ec0b0b;
$gold-yellow: #e2be3f;
$white-color: #fffefb;
$white-color-fixed: #fffefb;
$primary-color-opacity: rgba(23, 22, 37, 0.55);
$space-between: "space-between";
$space-around: "space-around";
$btn-box-shadow: 0px 8px 15px rgb(16 16 16);
$card-box-shadow: 0px 8px 15px rgba(16, 16, 16, 0.507);
$mobile-nav-bg: rgb(27 26 42);

:root {
  --primary-font: #{$primary-font};
  --primary-color: #{$primary-color};
  --primary-color-border: #{$primary-color-border};
  --description-color: #{$description-color};
  --hr-color: #{$hr-color};
  --white-color: #{$white-color};
  --white-color-fixed: #{$white-color-fixed};
  --dark-cyan-color: #{$dark-cyan-color};
  --dark-cyan-hover-color: #{$dark-cyan-hover-color};
  --primary-color-opacity: #{$primary-color-opacity};
  --bright-red-color: #{$bright-red-color};
  --j-c-space-between: #{$space-between};
  --j-c-space-around: #{$space-around};
  --btn-box-shadow: #{$btn-box-shadow};
  --card-box-shadow: #{$card-box-shadow};
  --mobile-nav-bg: #{$mobile-nav-bg};
  --green: #{$green};
  --red: #{$red};
  --gold-yellow: #{$gold-yellow};
  --banner-header-color: #{$white-color};
}
// Theme Toggler
[color-theme="light"] {
  --primary-color: #{$white-color};
  --white-color: #{$primary-color};
  --mobile-nav-bg: #{$white-color};
}

@mixin display-flex($column: false) {
  display: flex;
  flex-direction: row;
  @if ($column) {
    flex-direction: var(--f-d-column);
  }
}

@mixin justify-content($space-between: false, $space-around: false) {
  justify-content: center;
  @if ($space-between) {
    justify-content: var(--j-c-space-between);
  } @else {
    justify-content: var(--j-c-space-around);
  }
}
