@use "globalVariables.module.scss" as gv;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  position: relative;
  background: var(--primary-color);
  font-family: var(--primary-font);
  color: var(--white-color);
}

a,
li {
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 15px;
}

// Active class

.active {
  &::after {
    display: block;
    content: "";
    width: 100%;
    border-bottom: solid 2px var(--dark-cyan-color);
  }
}

// FONT
.primaryFont {
  font-family: var(--primary-font);
}

.primaryFontColor {
  color: var(--primary-color);
}

.whiteFontColor {
  color: var(--white-color);
}

// Flex Box

.dFlexRow {
  @include gv.display-flex($column: false);
}

.dFlexColumn {
  @include gv.display-flex($column: true);
}

.spaceBetween {
  @include gv.justify-content($space-between: true);
}

.spaceCenter {
  @include gv.justify-content($space-between: false);
}
.spaceAround {
  @include gv.justify-content($space-around: true);
}

// GRID

.gridContainer3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 15px;
  justify-content: space-evenly;
  width: 70%;
  max-width: 90%;
}

$layout-breakpoint-max-width: 1080px;
$xsm-layout-breakpoint-max-width: 487px;
@media (max-width: $layout-breakpoint-max-width) {
  .gridContainer3 {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media (max-width: $xsm-layout-breakpoint-max-width) {
  .gridContainer3 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
