.header {
  position: relative;
  left: 20px;

  & .heading {
    font-size: 3rem;
    // font-size: 3.5vmax;
  }

  & .description,
  & .innerHtml {
    margin-left: 12px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--description-color);
    line-height: 25px;
  }

  & .innerHtml {
    margin-left: 4px;
    width: 600px;
    line-height: 35px;
    position: relative;

    & .spanDescription {
      color: var(--dark-cyan-color);

      &::after {
        content: "";
        width: 11%;
        position: absolute;
        left: 15.5%;
        top: 48%;
        height: 56px;
        display: block;
        border-top: 3px solid var(--white-color);
        border-top-left-radius: 83px;
        border-top-right-radius: 114px;
      }
      &::before {
        content: "";
        width: 63%;
        position: absolute;
        left: 16%;
        top: 35px;
        height: 50px;
        display: block;
        border-bottom: 3px solid var(--white-color);
        border-radius: 39%;
      }
    }
  }
}

// Sections
.heroSection {
  position: relative;
  align-items: center;
  background: var(--primary-color);
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &::before {
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 100%;
    height: 200px;
    display: block;
    border-top: 3px solid var(--white-color);
    border-radius: 60%;
  }

  &::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 200px;
    display: block;
    border-bottom: 3px solid var(--white-color);
    border-radius: 0 0 50% 50%/0 0 50% 50%;
    transform: scaleX(1);
    left: 50%;
    top: 100%;
  }
}

.solutionSection {
  position: relative;
  align-items: center;
  background: var(--primary-color);
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  top: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .button {
    position: relative;
    top: 10px;

    background: var(--dark-cyan-color);
    border: 1px solid var(--dark-cyan-color);
    border-radius: 5px;
    color: var(--white-color-fixed);
    width: 120px;
    height: 30px;
    font-weight: bold;
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;

    &:hover {
      background: var(--dark-cyan-hover-color);
      transition: background 200ms ease-in;
    }
  }
}

.dailysSolvedSection {
  position: relative;
  background: var(--white-color);
  color: var(--primary-color);
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 690px;
  box-shadow: var(--btn-box-shadow);
  overflow: hidden;
  & .heading {
    position: absolute;
    right: 30px !important;
    top: 200px;
  }

  .cardContainer {
    position: absolute;
    top: 50%;
    justify-content: center;
    display: flex;
    width: 100%;
    left: 0;

    & .lists {
      position: relative;
      bottom: 0 !important;
    }

    & .card {
      & h2 {
        color: var(--white-color);
        font-size: 1.2rem;
      }

      & p {
        color: var(--description-color);
        padding-top: 15px;
      }
      background: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      width: 90%;
      max-width: 100%;
      height: auto;
      padding: 10px;
      text-align: center;
      white-space: no-wrap;
      box-shadow: var(--card-box-shadow);
    }
  }
}

.statsSection {
  position: relative;
  align-items: center;
  color: var(--white-color);
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 690px;

  & .header {
    display: flex;
    flex-direction: column;
    & .heading {
      position: relative;
      top: 50px;
      text-align: center;
    }
    h4 {
      position: relative;
      top: 50px;
      text-align: center;
    }
  }

  & .cardContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    & .langCardContainer {
      width: 250px;
      background: var(--white-color);
      height: 250px;
      margin: 150px 1%;
      padding: 10px;
      border-radius: 5px;
      box-shadow: var(--card-box-shadow);

      & .langInnerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .langTitle {
          display: flex;
          position: relative;
          left: 20px;
          h2 {
            color: var(--primary-color);
            font-size: 1rem;
            padding: 50px 60px 0 0;
          }
        }
        & .langHeader {
          position: relative;
          right: 65px;
          top: 20px;
          & .langHeading {
            color: var(--primary-color);
            & .langHeaderFour {
              padding: 15px 0;
              font-size: 1rem;
              color: var(--description-color);
              font-weight: normal;

              & .langJS,
              .langPY {
                position: relative;
                top: 2x;
                color: var(--gold-yellow);
                padding: 0 3px;
              }

              & .langPY {
                color: #306998;
              }

              &::after {
                content: "";
                position: absolute;
                display: block;
                width: 220px;
                height: 2px;
                border-bottom: 2px solid var(--hr-color);
              }
            }

            & .solvedJSContainer {
              position: relative;
              & .solvedJS {
                position: absolute;
                bottom: 16px;
                left: 150px;
              }
            }

            & .solvedPYContainer {
              position: relative;
              & .solvedPY {
                position: absolute;
                bottom: 15px;
                left: 150px;
              }
            }
          }
        }

        &::after {
          content: "";
          position: relative;
          bottom: 93px;
          right: 2px;
          display: block;
          width: 220px;
          height: 2px;
          border-bottom: 2px solid var(--hr-color);
        }
      }
    }

    & .allProblemsContainer {
      position: relative;
      width: 450px;
      background: var(--white-color);
      height: 250px;
      margin: 150px 0%;
      padding: 10px;
      border-radius: 5px;
      box-shadow: var(--card-box-shadow);

      & .problemsTitle {
        display: flex;
        justify-content: center;

        h2 {
          color: var(--primary-color);
          font-size: 1rem;
          padding: 0 65px 0 5px;
        }

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 370px;
          height: 30px;
          border-bottom: 2px solid var(--hr-color);
        }
      }

      & .problemsHeader {
        & .problemsHeading {
          padding: 15px 46px;
          position: relative;

          & .totalContainer {
            position: relative;
            & .totalHeaderFour {
              text-align: end;
              color: var(--primary-color);
              position: absolute;
              right: 50px;
              bottom: 20px;
              font-weight: normal;
            }
          }

          & .difficultyHeaderFour {
            position: relative;
            color: var(--description-color);
            font-weight: normal;
            padding: 14px 0;
            bottom: 3px;

            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 370px;
              height: 2px;
              left: -15px;
              border-bottom: 2px solid var(--hr-color);
            }
          }
        }
      }

      & .countHeader {
        position: relative;

        & .countHeading {
          position: absolute;
          bottom: 20px;
          left: 187px;
          color: var(--primary-color);

          & .countHeaderFour {
            padding: 15px 0;
            font-weight: normal;
          }
        }
      }
    }
  }

  & .advancedTopicContainer,
  & .intermediateTopicContainer,
  & .fundamentalTopicContainer {
    width: 27%;
    background: var(--white-color);
    height: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);

    & .topicTitle {
      display: flex;
      padding: 10px;
      h2 {
        color: var(--primary-color);
        padding: 0 10px 0 13px;
        font-size: 1.2rem;
      }
    }

    & .advancedHeaders,
    & .intermediateHeaders,
    & .fundamentalHeaders {
      position: relative;
      padding: 10px;
      & .advancedHeaderFour,
      & .intermediateHeaderFour,
      & .fundamentalHeaderFour {
        color: var(--primary-color);
        padding: 10px 10px 15px 13px;
        font-weight: normal;

        &::after {
          content: "";
          position: relative;
          display: block;
          width: auto;
          height: 2px;
          padding: 2px;
          border-bottom: 2px solid var(--hr-color);
        }
      }

      & .advancedSolved,
      & .intermediateSolved,
      & .fundamentalSolved {
        position: absolute;
        color: var(--description-color);
        font-weight: 600;
        right: 50px;
        margin-top: -40px;
      }

      &::before {
        content: "";
        position: relative;
        display: block;
        width: 90%;
        bottom: 10px;
        left: 10px;
        padding: 2px;
        border-bottom: 2px solid var(--hr-color);
      }
    }
  }

  & .intermediateTopicContainer {
    position: relative;
    left: 10px;
  }

  & .fundamentalTopicContainer {
    position: relative;
    left: 20px;
  }
}

$layout-breakpoint-max-width: 1080px;
$sm-layout-breakpoint-max-width: 667px;
$xsm-layout-breakpoint-max-width: 487px;
$mobile-below-350-breakpoint-max-width: 350px;
$layout-breakpoint-min-width: 998px;
@media (max-width: $layout-breakpoint-max-width) {
  .heroSection {
    flex-direction: column;
    margin-top: 22vh;
    &::before,
    &::after {
      top: 41rem;
    }

    .header {
      left: 0px;
      & .heading {
        font-size: 2rem;
      }
    }
  }

  .solutionSection {
    flex-direction: column;

    & .header {
      left: 0;

      & .heading {
        font-size: 2rem;
      }

      & .innerHtml {
        width: 339px;
      }

      & .spanDescription {
        color: var(--dark-cyan-color);

        &::after {
          width: 18%;
          left: 11.3%;
          top: 48%;
        }
        &::before {
          width: 19%;
          left: 11%;
          top: 70px;
          height: 45px;
        }
      }
    }

    & .button {
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .cardContainer {
    & .card {
      & h2 {
        color: var(--white-color);
        font-size: 1.2rem;
      }

      & p {
        color: var(--description-color);
        padding-top: 15px;
      }
      background: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      width: 90%;
      max-width: 100%;
      height: auto;
      padding: 10px;
      text-align: center;
      white-space: no-wrap;
      box-shadow: var(--card-box-shadow);
    }
  }

  .dailysSolvedSection {
    & .heading {
      font-size: 2rem;
    }

    & .cardContainer {
      top: 40%;
    }
  }

  .statsSection {
    & .header {
      display: flex;
      flex-direction: column;
      & .heading {
        font-size: 2.5rem;
      }
      h4 {
        font-size: 1.1rem;
      }
    }

    & .cardContainer {
      flex-direction: column;
      position: relative;
      font-size: 1rem;
      width: 100%;
      align-items: center;

      & .langCardContainer {
        position: relative;
        top: 150px;
        width: 387px;
        margin: 23px 1%;
      }

      & .allProblemsContainer {
        margin: 10px;
        position: relative;
        top: 150px;
        width: 387px;

        & .problemsHeading {
          padding: 22px 20px !important;

          & .difficultyHeaderFour {
            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 370px !important;
              height: 2px;
              left: -24px !important;
              border-bottom: 2px solid var(--hr-color);
            }
          }
        }
        & .countHeader {
          position: relative;

          & .countHeading {
            left: 158px;
          }
        }
      }

      & .topicCardContainer {
        margin: 10px;
        position: relative;
        top: 200px;
        width: 550px;
      }
    }

    & .advancedTopicContainer {
      & .topicTitle {
        h2:nth-child(2) {
          position: relative;
          left: 26px;
        }
      }
    }

    & .advancedTopicContainer,
    & .intermediateTopicContainer,
    & .fundamentalTopicContainer {
      position: relative;
      width: 374px;
      top: 168px;
      left: 0;
      margin: 10px;

      & .advancedSolved,
      & .intermediateSolved,
      & .fundamentalSolved {
        position: absolute;
        color: var(--description-color);
        font-weight: 600;
        right: 30% !important;
        margin-top: -54px !important;
      }
    }
  }
}

@media (max-width: $xsm-layout-breakpoint-max-width) {
  .statsSection {
    & .header {
      display: flex;
      flex-direction: column;
      & .heading {
        font-size: 1.7rem;
      }
      h4 {
        font-size: 0.9rem;
      }
    }
  }
}
@media (max-width: $mobile-below-350-breakpoint-max-width) {
  .statsSection {
    & .header {
      display: flex;
      flex-direction: column;
      & .heading {
        font-size: 2.5rem;
      }
      h4 {
        font-size: 1.1rem;
      }
    }

    & .cardContainer {
      flex-direction: column;
      position: relative;
      font-size: 1rem;
      width: 100%;
      align-items: center;

      & .langCardContainer {
        position: relative;
        top: 150px;
        width: 374px;
        margin: 23px 1%;
      }

      & .allProblemsContainer {
        width: 374px;
        & .problemsHeading {
          & .difficultyHeaderFour {
            &::after {
              width: 350px !important;
              left: -15px !important;
            }
          }
        }
      }
    }
  }
}
