.buttonToggler {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 25px;
  left: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:focus {
    outline: none;
  }

  & .toggleBtnLine {
    width: 30px;
    height: 4px;
    background: var(--white-color);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  &.open {
    .toggleBtnLine:first-child {
      transform: rotate(45deg);
    }
    .toggleBtnLine:nth-child(2) {
      opacity: 0;
    }
    .toggleBtnLine:last-child {
      transform: rotate(-45deg);
    }
  }
}

.mobileNavContainer {
  position: absolute;
  left: 0;
  margin-top: 7vh;
  width: 100%;
  visibility: hidden;
  height: 0;
  opacity: 0;
  padding: 10px;
  background: var(--mobile-nav-bg);
  transition: opacity 0.5s, visibility 0.5s, height 1.5s;
  box-shadow: var(--btn-box-shadow);

  &.open {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  & .mobileSearchbar {
    padding: 0 20px;
    position: relative;
    top: 10px;

    & .searchbarContainer {
      display: flex;
      flex-direction: row;
      padding: 0 10px;
      & .searchbar {
        width: 100%;
        height: 35px;
        padding: 5px;
        cursor: pointer;
        border: 1px solid var(--primary-color-border);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;

        &:focus {
          outline: none !important;
          border: 2px solid var(--dark-cyan-color);
          -webkit-transition: border 300ms ease-out;
          -moz-transition: border 300ms ease-out;
          -o-transition: border 300ms ease-out;
          transition: border 300ms linear;
        }

        &::placeholder {
          font-weight: 500;
          color: var(--primary-color-opacity);
        }
      }

      & .btnContainer {
        padding: 0 5px;

        & .searchBtn {
          width: 50px;
          height: 35px;
          align-items: center;
          background: transparent;
          border-radius: 5px;
          cursor: pointer;
          color: var(--white-color);
          box-shadow: var(--btn-box-shadow);
          border: 1px solid var(--white-color);
          -webkit-transition: background 2s ease-out;
          -moz-transition: background 2s ease-out;
          -o-transition: background 2s ease-out;
          transition: background- 2s ease-out;

          & .faSearch {
            font-size: 1.4rem;
          }
        }
        & :hover {
          background: var(--white-color);
          color: var(--primary-color);
        }
      }
    }
  }

  .navLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

    & .navLinks {
      padding: 20px 13px;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
